<!DOCTYPE html>
<html>
    <head>
        <title>Awesomest Game Ever!</title>
    </head>
    <body>    
    <form action="/madlib">
        <label>Pick a color: </label><br>
        <select name="colorselection">
            <option value="red">Red.</option>
            <option value="yellow">Yellow.</option>
            <option value="blue">Blue.</option>
        </select>
        <br /><br />
        <label>Write the name of a person: </label><br>
        
        <input type="text" name="person">
        <br /><br />
        <label>Pick a bodypart: </label><br>
        <input type="radio" name="bodypart" value="arm"> arm 
        <input type="radio" name="bodypart" value="leg"> leg 
        <input type="radio" name="bodypart" value="nose"> nose
        <input type="radio" name="bodypart" value="coccyx"> coccyx
        <br /><br />
        <label>Pick an adjective: </label>
            <input type="checkbox" name="description" value="gross"> gross 
            <input type="checkbox" name="description" value="horrible"> horrible             
            <input type="checkbox" name="description" value="funny"> funny             
            <input type="checkbox" name="description" value="amusing"> amusing 
        </select>
        <br />
        <br />
        <input type="submit">
    </form>  
    </body>
</html>