<!DOCTYPE html>
<html>
    <head>
        <title>Awesomest Game Ever!</title>
    </head>
    <body>    
    <form action="/madlib">
        <label>Pick a color: </label><br>
        <select name="colorselection">
            <option value="red">Red.</option>
            <option value="yellow">Yellow.</option>
            <option value="blue">Blue.</option>
        </select>
        <label>Pick a person: </label><br>
        <select name="person">
            <option value="Jimi Hendrix">Jimi Hendrix </option>
            <option value="President Bush">President Bush </option>
            <option value="Mr. Beans ">Mr. Beans </option>
            <option value="Angela Merkel">Angela Merkel </option>
        </select>
        <label>Pick a bodypart: </label><br>
        <select name="bodypart">
            <option value="arm">arm </option>
            <option value="coccyx">coccyx </option>
            <option value="nose">nose </option>
            <option value="nail">nail </option>
        </select>
        <label>Pick an adjective: </label>
        <select name="description">
            <option value="gross">gross.</option>
            <option value="funny">funny.</option>
            <option value="horrible">horrible.</option>
            <option value="obnoxious">obnoxious.</option>
        </select>
        <input type="submit">
    </form>  
    </body>
</html>